.container{
    display: grid;
    grid-template-rows: repeat(9,auto);
    grid-template-columns: repeat(5,250px);
    grid-gap: 5px;

    
}



.big{
    grid-row:1/4;
    grid-column:1/4;
}
.twiter{
    grid-row:2;
    grid-column:5;
}
.facebook{
grid-row:1;
grid-column:5;
}
.hacker{
    grid-row:3;
    grid-column:5;
}
.birthday{
    grid-row:4;
    grid-column: 1/2;
}
.makeup{
    grid-row:4;
    grid-column:3;
}
.costumes{
    grid-row:4;
    grid-column:4;
}
.wigs{
    grid-row: 4;
    grid-column: 5;
}
.musical{
    grid-row:5/8;
    grid-column:1;
}
.sale{
    grid-row:5;
    grid-column:2;
}
.candy{
    grid-row:5;
    grid-column:4;
}
.hats{
    grid-row: 5;
    grid-column: 5;
}
.props{
    grid-row:8;
    grid-column: 1;
}
.xmas{
    grid-row:6/9;
    grid-column: 2;
}
.classic{
    grid-row:6;
    grid-column:3;
}
.shipping{
    grid-row:6;
    grid-column: 5;
}
.ghost{
grid-row:7;
grid-column:3;
}
.jason{
    grid-row:7;
    grid-column: 4;
}
.witches{
    grid-row:7;
    grid-column:5;
}
.mask{
grid-row:8;
grid-column:2;
}